<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-title>
            <img src="assets/imgs/icon.svg" />
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-bounce padding-top class="padding-h safe-area-bottom" fullscreen="true">
  <div class="flex-container">
    <h3 text-center translate [translateParams]='{name:user?.name}'>view.welcome.title-main</h3>
    <div margin-vertical text-center translate>
      view.welcome.text-main
    </div>
    <ion-button (click)="onContinueButtonClick()" color="primary" expand="block" mode="ios" padding-bottom  translate>view.welcome.button-continue</ion-button>
  </div>
</ion-content>