<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <div class='toolbar-placeholder'></div>
        <ion-title>
            <img src="assets/imgs/icon.svg" />
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-bounce padding fullscreen="true">
    <img class="bg-img" src="assets/imgs/login-bg.png" />
    <div class="flex-container safe-area-bottom">
        <div class="page-title" translate>
            view.verify-email.title-main
        </div>
        <div>
            <div class="verify-email-text" translate>
                view.verify-email.text-main
            </div>
            <div class="verify-email-email">
                {{ user?.email }}
            </div>
        </div>
        <div class="buttons-wrap">
            <ion-button (click)="onEmailConfirmedClick()" color="primary" expand="block" mode="ios" translate>view.verify-email.button-confirmed</ion-button>
            <ion-button (click)="onResendEmailClick()" color="tertiary" expand="block" fill="clear" mode="ios" translate>view.verify-email.button-resend</ion-button>
            <ion-button (click)="onSignOutClick()" color="danger" expand="block" fill="clear" mode="ios" translate>
                view.verify-email.button-logout
            </ion-button>
        </div>
    </div>
</ion-content>