.bg-img {
    position: absolute;
    display: block;
    width: 150%;
    left: -25%;
    top: 24%;
    max-width: none;
}

.page-title {
    font-size: 34px;
    text-align: center;
    color: #1ab5cf;
    margin: 4px 0 10px 0;
}

.flex-container {
    flex-direction: column;
    justify-content: space-between;
}

.verify-email-text,
.verify-email-email {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    opacity: .9;
}

.verify-email-email {
    font-weight: bold;
    margin-top: 8px;
}

.buttons-wrap {
    ion-button{
        font-size: 14px;
    }
    ion-button:first-child {
        margin-bottom: 12px;
        font-size: 16px;
    }
    padding-bottom: var(--ion-safe-area-bottom, 0);
}
