ion-title {
  backdrop-filter: none!important;
  -webkit-backdrop-filter: none!important;
}
ion-toolbar {
  --background: transparent;
}
.flex-container {
  flex-direction: column;
}
.profile-top {
  position: relative;
  margin-top: -50px;
}
.bg-img {
  position: relative;
  display: block;
  width: 126%;
  left: -13%;
  height: auto;
  object-fit: cover;
  max-width: unset;
}
.profile-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 116px;
  width: 116px;
  max-width: unset;
  border: 4px solid white;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  align-items: center;
  background-color: rgb(241, 247, 248);
}
.profile-image__initials {
  font-size: 48px;
  position: relative;
  text-transform: uppercase;
  top: 3px;
}
.profile-items {
  margin-top: 16px;
  overflow: hidden;
}
.profile-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  height: 47px;
}
.profile-item__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-item__right {
  display: flex;
}
.profile-item__label {
  font-size: 14px;
}
.profile-item__value {
  font-weight: bold;
}
.profile-item__button {
  font-size: 14px;
  color: var(--ion-text-color);
  text-transform: none;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  bottom: -10px;
  right: -16px;
  align-self: flex-end;
}
.profile-item__toggle {
  align-self: flex-end;
}
.submit-button {
  font-size: 14px;
  margin-bottom:16px;
}
.bottom-container{
  margin-top:auto;
}
.delete-account-button{
  --ion-color-base: #a90000!important;
  font-size: 12px;
  margin-bottom:16px;
}

.push-notifications-toggle{
  pointer-events: none;
}

@media (max-height: 667px) {
  .profile-items {
    margin-top: 10px;
  }
  .profile-item {
    margin-bottom: 21px;
    height: 44px;
  }
}
@media (max-height: 568px) {
  .profile-item {
    margin-bottom: 14px;
    height: 40px;
  }
  .profile-image {
    height: 106px;
    width: 106px;
  }
  .profile-image__initials {
    font-size: 43px;
  }
}
