<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="navCtrl.pop()" color="dark" mode="ios">
                <img src="assets/imgs/onboarding-back.png" />
            </ion-button>
        </ion-buttons>
        <ion-title translate>view.profile.title-main</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="safe-area-bottom" padding-top fullscreen="true">
    <div *ngIf='user' class='flex-container'>
        <div class='profile-top'>
            <img class="bg-img" src="assets/imgs/profile-bg.png" />
            <div class='profile-image'>
                <div class='profile-image__initials'>
                    {{getUserInitials()}}
                </div>
            </div>
        </div>
        <div class='padding-h'>
            <div class='profile-items'>
                <div class='profile-item'>
                    <div class="profile-item__left">
                        <div class='profile-item__label' translate>view.profile.label-name</div>
                        <div class='profile-item__value'>{{user.name}}</div>
                    </div>
                    <div class="profile-item__right">
                        <ion-button (click)='onEditNameClick()' fill='clear' class='profile-item__button' translate>view.profile.button-edit</ion-button>
                    </div>
                </div>
                <div class='profile-item'>
                    <div class="profile-item__left">
                        <div class='profile-item__label' translate>view.profile.label-surname</div>
                        <div class='profile-item__value'>{{user.surname}}</div>
                    </div>
                    <div class="profile-item__right">
                        <ion-button (click)='onEditSurameClick()' fill='clear' class='profile-item__button' translate>view.profile.button-edit</ion-button>
                    </div>
                </div>
                <div class='profile-item'>
                    <div class="profile-item__left">
                        <div class='profile-item__label' translate>view.profile.label-email</div>
                        <div class='profile-item__value'>{{user.email}}</div>
                    </div>
                </div>
                <div *ngIf='user.auth && user.auth.includes(AuthType.PASSWORD)' class='profile-item'>
                    <div class="profile-item__left">
                        <div class='profile-item__label' translate>view.profile.label-password</div>
                        <div class='profile-item__value'>*****************</div>
                    </div>
                    <div class="profile-item__right">
                        <ion-button (click)='onEditPasswordClick()' fill='clear' class='profile-item__button' translate>view.profile.button-edit</ion-button>
                    </div>
                </div>
                <div class='profile-item'>
                    <div class="profile-item__left">
                        <div class='profile-item__label' translate>notification.enable-notifications</div>
                        <div *ngIf='pushNotificationsToggle' class='profile-item__value' translate>view.profile.label-enabled</div>
                        <div *ngIf='!pushNotificationsToggle' class='profile-item__value' translate>view.profile.label-disabled</div>
                    </div>
                    <div (click)="onTogglePushClick()" class="profile-item__right">
                        <ion-toggle class='profile-item__toggle push-notifications-toggle' [ngModel]="pushNotificationsToggle"></ion-toggle>
                    </div>
                </div>
                <!-- klient zmenu jazyka momentalne nepodporuje -->
                <!-- 
                <div class='profile-item'>
                    <div class="profile-item__left">
                        <div class='profile-item__label' translate>common.lang-picker.label</div>
                        <div class='profile-item__value'><lang-picker (langChange)='onLangChange()'></lang-picker></div>
                    </div>
                </div>
                -->
            </div>
            <ion-button (click)="onSignOutButtonClick()" class="submit-button" color="danger" fill='clear' expand="block" margin-top mode="ios" translate>view.profile.button-logout</ion-button>
        </div>
        <div class="bottom-container">
            <ion-button (click)="onDeleteAccountClick()" class="delete-account-button" color="danger" fill='clear' expand="block" margin-top mode="ios" translate>view.profile.button-deleteAccount</ion-button>
        </div>
    </div>
</ion-content>