.flex-container {
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.bg-img {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 43%;
  max-width: none;
  transform: translateY(-50%);
}

.submit-button {
  margin-top: 20px;
}
