<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="navCtrl.pop()" color="dark" mode="ios">
                <img src="assets/imgs/onboarding-back.png"/>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="assets/imgs/icon.svg" />
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content #content no-bounce padding-vertical fullscreen="true">
    <div #container class="flex-container onboarding-view safe-area-bottom">
        <img class="bg-img" src="assets/imgs/intro-bg.png" />
        <div class="intro-title" padding-horizontal translate>
            view.sign-in.title-main
        </div>
        <div class="content-wrap">
            <div #formWrap class="inputs-wrap">
                <ion-input [(ngModel)]="inputs.email" (ionFocus)='onInputFocus($event)' [placeholder]="'view.sign-in.input-email' | translate" type="email" mode="ios" (keydown)='onInputKeyDown($event, passwordInput)'></ion-input>
                <ion-input #passwordInput [(ngModel)]="inputs.password" (ionFocus)='onInputFocus($event)' [placeholder]="'view.sign-in.input-password' | translate" type="password" mode="ios" (keydown)='onInputKeyDown($event)'></ion-input>
            </div>
            <div class="buttons-wrap">
                <ion-button (click)="onSubmitButtonClick()" [disabled]="!isSubmitEnabled()" class="submit-button" color="primary" expand="block" mode="ios" translate>view.sign-in.button-login</ion-button>
                <div class="bottom-buttons-wrap">
                    <ion-button (click)="onForgotPasswordButtonClick()" expand="block" fill="clear" mode="ios" translate>
                        view.sign-in.button-forgotPassword
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>