<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="navCtrl.pop()" color="dark" mode="ios">
                <img src="assets/imgs/onboarding-back.png"/>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="assets/imgs/icon.svg" />
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-bounce padding-top fullscreen="true">
    <div class="flex-container onboarding-view safe-area-bottom">
        <img class="bg-img" src="assets/imgs/sign-up-bg.png" />
        <div class="intro-title" padding-horizontal translate>
            view.sign-up.title-main
        </div>
        <div class='buttons-wrap'>
            <ion-input [(ngModel)]="inputs.name" [placeholder]="'view.sign-up.input-fullName' |  translate" mode="ios" autocapitalize="words" (keydown)='onInputKeyDown($event, emailInput)'></ion-input>
            <ion-input #emailInput [(ngModel)]="inputs.email" [placeholder]="'view.sign-up.input-email' |  translate" type="email" mode="ios" (keydown)='onInputKeyDown($event, passwordInput)'></ion-input>
            <div class="password-input-wrap">
                <img [src]="'assets/imgs/'+ nameIcon +'.png' " class="passwordIcon" (click)="showPassword()">
                <ion-input #passwordInput [(ngModel)]="inputs.password" [placeholder]="'view.sign-up.input-password' |  translate" type="{{typeText}}" mode="ios" (keydown)='onInputKeyDown($event)'></ion-input>
            </div>
            <div class="conditions">
                <ion-row>
                    <ion-col size="1">
                        <ion-checkbox [(ngModel)]="inputs.conditions" color="primary"></ion-checkbox>
                    </ion-col>
                    <ion-col size="11">{{'view.sign-up.label-termsAgreement.part1' | translate}}&nbsp;<span (click)="showAgreements()" translate>view.sign-up.label-termsAgreement.part2</span></ion-col>
                </ion-row>
            </div>
            <ion-button (click)="onSubmitButtonClick()" [disabled]="!isSubmitEnabled()" class="submit-button" color="primary" expand="block" mode="ios" translate>view.sign-up.button-login</ion-button>
            <ion-button *ngIf='platform.is("ios")' (click)="onSignUpWithAppleButtonClick()" class="button-apple-sign-in" expand="block" fill="outline" mode="ios">
                <span>
                <img slot="start" src="assets/imgs/apple-logo.svg" /> {{'view.sign-up.button-loginWithApple' | translate}}
            </span>
            </ion-button>
            <ion-button (click)="onSignUpWithFacebookButtonClick()" expand="block" fill="outline" mode="ios">
                <span>
                <img slot="start" src="assets/imgs/fb-logo.png" /> {{'view.sign-up.button-loginWithFacebook' | translate}}
            </span>
            </ion-button>
            <ion-button (click)="onSignUpWithGoogleButtonClick()" expand="block" fill="outline" mode="ios">
                <span>
                <img slot="start" src="assets/imgs/google-logo.png" /> {{'view.sign-up.button-loginWithGoogle' | translate}}
            </span>
            </ion-button>
        </div>
    </div>
</ion-content>