.flex-container {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.bg-img {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: -18px;
    max-width: none;
}

lang-picker {
    margin: 20px 0;
}

.submit-button {
    margin-bottom: 40px;
}

.buttons-wrap {
    margin-bottom: 16px;
}

.password-input-wrap {
    position: relative;
    .passwordIcon {
        position: absolute;
        font-size: 20px;
        top: 0;
        right: 0;
        width: 51px;
        height: 100%;
        z-index: 99;
        padding: 16px;
        object-fit: contain;
    }
    ion-input {
        --padding-end: 40px!important;
    }
}
