.main-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
  max-height: 40vh;
}
.page-title, .page-sub-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 20px;
  .note {
    font-weight: normal;
    font-size: 14px;
  }
}

.content-picker-wrapper{
  margin-top: auto;
  padding-top: 4px;
}

.list-picker-item{
  .list-picker-item__label{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
  }
  .list-picker-item__item{
    --border-width: 1px 1px 3px 1px;
    --border-radius: 6px;
    --border-color: #dfdcd7;
    --min-height: 55px;
    span{
        font-size: 16px;
        font-weight: 500;
        color:#575654;
        margin-bottom: -1px;
      }
      ion-button{
        font-weight: normal;
        font-size: 15px;
        text-decoration: underline;
        text-transform: none;
        color:#575654;
        pointer-events: none;
        margin-top: -1px;
    }
  }
  +.list-picker-item{
    margin-top:18px;
  }
}

.button-start-lesson{
  min-height: 60px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.voice-btn {
  font-weight: normal;
  text-transform: capitalize;
  border-radius: 50px;
  --border-radius: 50px;
  --border-style: solid;
  --border-color: #bbbbbb;
  --border-width: 1.2px;
  height: 42px;
  margin-right: 10px;
  margin-bottom: 8px;
  opacity: 0.7;

  &.voice-selected {
    --background: #fff8f0;
    background: #fff8f0;
    opacity: 1;
  }
}
.main-text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;
}
.controls-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  ion-button {
    margin: 0 0 5px 0;
    width: calc(100% / 5);
    height: calc((100% / 5) + 25px);
    --padding-start: 0;
    --padding-end: 0;
    font-weight: normal;
    div {
      flex-direction: column;
      display: flex;
      img {
        width: 38px;
      }
      span {
        padding: 5px 0;
      }
    }
    ion-icon {
      font-size: 2.9rem;
    }
  }
}
.course-block {
  .page-title {
    margin-bottom: 20px;
  }
  ion-button {
    margin-top: 8px;
    margin-bottom: 25px;
  }
}
.course-completed-info {
  color: #f3ab59;
  font-weight: 500;
  text-align: center;
  font-size: 15px;
  margin-top: 24px;
}
