<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="onBackButtonClicked()" color="dark" mode="ios">
                <img src="assets/imgs/onboarding-back.png"/>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="assets/imgs/icon.svg" />
        </ion-title>
        <ion-buttons slot='end'>
            <ion-button (click)='toggleMenu()'>
                <ion-icon name='menu' slot='icon-only'></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding-bottom fullscreen="true" class="safe-area-bottom">
    <div *ngIf="loading || error" class="spinner-wrap">
        <ion-spinner></ion-spinner>
        <div *ngIf="error" class="error-info" margin-top translate>
            common.error.toast-connection
        </div>
    </div>
    <ng-container *ngIf="!loading && !error">
        <img [src]="courseDetail.titlePhoto" class="main-img" />
        <div class="padding-h">
            <div class="page-title" text-left>
                {{ courseDetail.name }}
                <div class="note">
                    {{ courseDetail.subtitle }}
                </div>
            </div>
            <div class="main-text">
                {{ courseDetail.description }}
            </div>
        </div>
        <!-- Nastaveni hlasu -->
        <div class="padding-h ion-margin-bottom content-picker-wrapper">
            <div *ngIf='courseDetail && courseDetail.lessons && courseDetail.lessons.length > 1' class='list-picker-item'>
                <div class='list-picker-item__label' translate>common.global.lesson</div>
                <ion-item class='list-picker-item__item' lines='none' (click)='onPickLessonClick()' >
                    <span>{{selectedLessonIndex +1}}. {{'common.global.lesson' | translate | lowercase}}</span>
                    <ion-button slot='end' fill='clear' color='dark'>{{'common.global.change' | translate | lowercase}}</ion-button>
                </ion-item>
            </div>
            <div class='list-picker-item'>
                <div class='list-picker-item__label' translate>common.voice.guide-title</div>
                <ion-item class='list-picker-item__item' lines='none' (click)='onPickVoiceClick()'>
                    <span>{{selectedVoice ? selectedVoice.name : '---'}}</span>
                    <ion-button slot='end' fill='clear' color='dark'>{{'common.global.change' | translate | lowercase}}</ion-button>
                </ion-item>
            </div>
            <div *ngIf='courseComplete && courseDetail.type === CourseTypeEnum.COURSE' class='course-completed-info'>
                <span translate>view.course-detail.label-courseComplete</span>
            </div>
            <ion-button (click)='onPlayButtonClick()' color="primary" expand="block" mode="ios" translate class='button-start-lesson'>
                view.course-detail.button-startLesson
            </ion-button>
        </div>
    </ng-container>
</ion-content>
