<ion-content no-bounce padding-vertical>
  <div class="flex-container safe-area-bottom onboarding-view">
    <img src="/assets/imgs/logo.svg" class="intro-img" />
    <div class="buttons-wrap">
      <ion-button *ngIf='platform.is("ios")' (click)="onSignInWithAppleButtonClick()" expand="block" fill="outline" mode="ios" class='button-apple-sign-in intro-button-outline'>
        <span>
            <img slot="start" src="assets/imgs/apple-logo.svg" /> {{'view.intro.button-loginWithApple' | translate}}
        </span>
    </ion-button>
      <ion-button (click)="onSignInWithFacebookButtonClick()" expand="block" fill="outline" mode="ios">
        <span>
          <img slot="start" src="assets/imgs/fb-logo.png"/>
          {{'view.intro.button-loginWithFacebook' | translate}}
        </span>
      </ion-button>
      <ion-button (click)="onSignInWithGoogleButtonClick()" expand="block" fill="outline" mode="ios">
        <span>
          <img slot="start" src="assets/imgs/google-logo.png" /> 
          {{'view.intro.button-loginWithGoogle' | translate}}
        </span>
      </ion-button>
      <ion-button (click)="onSignInButtonClick()"  expand="block" fill="outline" mode="ios">
        <span>
          <img slot="start" src="assets/imgs/envelope.png" /> 
          {{'view.intro.button-login' | translate}}
        </span>
      </ion-button>
      <ion-button (click)="onSignUpButtonClick()" expand="block" fill="clear" mode="ios" class="register" translate>
        view.intro.button-createAccount
      </ion-button>
      <!-- klient zmenu jazyka momentalne nepodporuje -->
      <!-- <lang-picker></lang-picker> -->
    </div>
  </div>
</ion-content>