.flex-container {
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--ion-safe-area-top, 0);
  background-image: url("../../../assets/imgs/intro-bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 33%;
  padding-left: 20px;
  padding-right: 20px;
}

.intro-img {
  display: block;
  width: 181px;
  margin: 10px auto 19px auto;
}

lang-picker {
  margin: 10px 0;
}


