ion-header {
  position: absolute;
  background: transparent;
  --background: tranparent;
  z-index: 10;

  ion-toolbar {
    --background: tranparent;
    background: transparent;
    ion-button ion-icon {
      color: white;
    }
  }
}
ion-button.close {
  position: relative;
  right: -4px;
  ion-icon {
    font-size: 38px;
    color: white;
  }
}

.video-container {
  width: 100%;
  height: 100%;

  video {
    width: 100%;
    height: 100%;
    background: black;
  }
}