<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons *ngIf="!userProvider.showPositionFromMenu" slot="start">
            <ion-button (click)="navCtrl.pop()" color="dark" mode="ios">
                <img src="assets/imgs/onboarding-back.png"/>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="close" (click)="onContinueButtonClick()" mode="ios" fill="clear" color="dark">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content no-bounce>
    <div class="video-container">
        <video #video
               preload="auto"
               webkit-playsinline="webkit-playsinline" playsinline>
            <source type='video/mp4' />
        </video>
    </div>
</ion-content>