<div class='item-picker-modal'>
    <div (click)='onBackdropClick()' class='item-picker-modal__backdrop'></div>
    <div class='item-picker-modal__list padding-h'>
        <div class='item-picker-modal__title' translate>
          common.global.lesson
        </div>
        <ion-item *ngFor='let _ of lessonsArray; let i = index;' (click)='onSelectLesson(i)' class='item-picker-modal__item' lines='none' mode='ios'>
            {{i+1}}. {{'common.global.lesson' | translate | lowercase}}
        </ion-item>
    </div>
</div>