ion-content {
  --padding-top: 6px;
}

ion-grid,
ion-col {
  padding: 0;
}
ion-row {
  align-items: flex-end;
}

.page-title {
  font-size: 25px;
  font-weight: bold;
  align-items: flex-end;
  &.daily-meditation-title {
    margin-right: 5px;
    margin-bottom: 1px;
  }
  .note {
    font-size: 14px;
    font-weight: 500;
  }

  @media (max-width: 375px) {
    font-size: 23px;
  }
  @media (max-width: 320px) {
    font-size: 21px;
  }
}

.main-img-wrap {
  position: relative;
  img{
    width:100%;
    height:auto;
    max-height: 40vh;
  }
  .main-img-labels-wrap {
    position: absolute;
    bottom: 19px;
    right: 12px;
    padding: 11px 16px;
    background-color: white;
    border-radius: 6px;
    z-index: 2;
    .main-img-main-label {
      font-size: 17px;
      font-weight: 500;
    }
    .main-img-sub-label {
      padding-top: 3px;
      font-size: 14px;
    }
  }
  @media (max-width: 360px) {
    .main-img-labels-wrap {
      bottom: 10px;
      right: 6px;
      padding: 9px 12px;
    }
  }
}

.course-block {
  .page-title {
    margin-top: 16px;
    margin-bottom: 16px;
    @media (max-width: 320px) {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

}

.bg {
  background-image: url("/assets/shapes.svg");
}

.box-grid {
  ion-col {
    padding: 3px;
  }
}

.box-content {
  position: relative;
  background-color: #EAF0F2;
  border-radius: 4px;
  text-align: center;
  min-height: 100px;
  padding: 10px;

  img {
    max-height: 50px;
  }

  .box-title {
    height: 30px;
    font-size: 12px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

  }
}