<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-title>
            <img src="assets/imgs/icon.svg" />
        </ion-title>
        <ion-buttons slot='end'>
                <ion-button (click)='toggleMenu()'>
                    <ion-icon name='menu' slot='icon-only'></ion-icon>
                </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding-bottom fullscreen="true" class="safe-area-bottom">
    <ion-refresher slot="fixed" (ionRefresh)="onPullRefresh($event)">
        <ion-refresher-content refreshingSpinner='none'></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ng-container *ngIf="resumeCourse">
            <ion-row class="padding-h">
                <ion-col>
                    <div class="page-title" text-left translate>
                        view.list.title-continue
                        <div class="note" translate [translateParams]="{lessonNumber: resumeCourseLessonIndex+1, lessonsTotal:resumeCourse.lessons.length}">
                            view.list.label-resumeInfo
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="main-img-wrap bg" (click)="onResumeCourseClick()">
                        <img [src]='resumeCourse.titlePhoto' />
                        <div class="main-img-labels-wrap">
                            <div class="main-img-main-label">{{ resumeCourse.name }}</div>
                            <div class="main-img-sub-label">{{ resumeCourse.subtitle }}</div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
    <div class="course-block padding-h">

        <ion-grid class="box-grid">
            <ion-row>
                <ion-col size="4" *ngIf="dailyMeditation" (click)="onDailyCourseClick()">
                    <div class="box-content">
                        <img src="assets/imgs/kalendar-meditace.png" />
                        <div class="box-title">Denni meditace</div>
                        <div *ngIf="!userProvider.getIsFullVersionUnlocked()" class="locked-overlay">
                            <ion-icon name="lock"></ion-icon>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="4" (click)="onBlogClick()">
                    <div class="box-content">
                        <img src="assets/imgs/blog-thumbnail.png" />
                        <div class="box-title">Blog</div>
                    </div>
                </ion-col>
                <ion-col size="4" (click)="onConsultationItemClicked()">
                    <div class="box-content">
                        <img src="assets/imgs/consultation.svg" />
                        <div class="box-title">Konzultace</div>
                        <div *ngIf="!userProvider.getIsFullVersionUnlocked()" class="locked-overlay">
                            <ion-icon name="lock"></ion-icon>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ng-container *ngIf="ownedCourses && ownedCourses.length">
            <div class='course-group'>
                <div class="page-title" text-left translate>
                    view.list.title-myCourses
                </div>
                <div *ngFor="let item of ownedCourses" (click)="onOwnedCourseItemClick(item)" class="course-item">
                    <div class="item-thumbnail">
                        <img [src]="item.thumbnail" />
                        <div *ngIf="!userProvider.getIsFullVersionUnlocked() && !item.free" class="locked-overlay">
                            <ion-icon name="lock"></ion-icon>
                        </div>
                    </div>
                    <div class="course-item-labels">
                        <div class="course-main-label">{{ item.name }}</div>
                        <div class="course-sub-label">{{ item.subtitle }}</div>
                    </div>
                    <ion-icon name="arrow-forward"></ion-icon>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="recommendedCourses && recommendedCourses.length">
            <div class='course-group'>
                <div class="page-title" text-left translate>
                    view.list.title-recommendedCourses
                </div>
                <div *ngFor="let item of recommendedCourses" (click)="onNextCourseItemClick(item)" class="course-item">
                    <div class="item-thumbnail">
                        <img [src]="item.thumbnail" />
                        <div *ngIf="!userProvider.getIsFullVersionUnlocked() && !item.free" class="locked-overlay">
                            <ion-icon name="lock"></ion-icon>
                        </div>
                    </div>
                    <div class="course-item-labels">
                        <div class="course-main-label">{{ item.name }}</div>
                        <div class="course-sub-label">{{ item.subtitle }}</div>
                    </div>
                    <ion-icon name="arrow-forward"></ion-icon>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="nextCourses && nextCourses.length">
            <div class='course-group'>
                <div class="page-title" text-left translate>
                    view.list.title-nextCourses
                </div>
                <div *ngFor="let item of nextCourses" (click)="onNextCourseItemClick(item)" class="course-item">
                    <div class="item-thumbnail">
                        <img [src]="item.thumbnail" />
                        <div *ngIf="!userProvider.getIsFullVersionUnlocked() && !item.free" class="locked-overlay">
                            <ion-icon name="lock"></ion-icon>
                        </div>
                    </div>
                    <div class="course-item-labels">
                        <div class="course-main-label">{{ item.name }}</div>
                        <div class="course-sub-label">{{ item.subtitle }}</div>
                    </div>
                    <ion-icon name="arrow-forward"></ion-icon>
                </div>
            </div>
        </ng-container>
    </div>
</ion-content>