@font-face {
    font-family: 'Gotham';
    src: url('./assets/fonts/Gotham-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('./assets/fonts/Gotham-Book.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRounded';
    src: url('./assets/fonts/GothamRounded-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRounded';
    src: url('./assets/fonts/GothamRounded-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRounded';
    src: url('./assets/fonts/GothamRounded-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}