.item-picker-modal-wrapper {
    --background: transparent;
    ion-backdrop {
        background-color: transparent;
    }
}

.item-picker-modal {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.item-picker-modal__backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.item-picker-modal__title {
    color: #575654;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
}

.item-picker-modal__list {
    margin-top: auto;
    background: white;
    padding-top: 30px;
    padding-bottom: calc(var(--ion-safe-area-bottom) + 20px);
    border: 1px solid #dfdcd7;
    border-bottom-width: 3px;
    border-radius: 5px;
    z-index: 2;
    max-height: 75vh;
    overflow: auto;
}

.item-picker-modal__item {
    margin-top: auto;
    background: white;
    --background-hover: transparent;
    --padding-start: 1px;
    --padding-end: 0px;
    --inner-padding-end: 0;
    font-size: 16px;
    font-weight: 500;
    color: #575654;
    --min-height: 46px;
    &.item-picker-modal__item--radio {
        --min-height: 65px;
    }
}

.item-picker-modal__item-button {
    --border-color: #dfdcd7;
    --border-width: 1px;
    height: 34px;
    --padding-start: 12px;
    --padding-end: 14px;
    text-transform: none;
    font-size: 15px;
    font-weight: 500;
    color: #575654;
    z-index: 2;
    --color-activated: #575654;
    --background-activated: #f3ece5;
    --background-hover: transparent;
    --border-radius: 4px;
    border-radius: var(--border-radius);
    img {
        width: 18px;
        height: 15px;
        margin-left: 10px;
        margin-top: -2px;
        object-fit: contain;
    }
    &.item-picker-modal__item-button--active {
        --border-color: #aba8a1;
        background: #fff8f0;
        img {
            height: 18px;
        }
    }
}

.item-picker-modal__confirm-button {
    margin-top: 24px;
    min-height: 60px;
    font-size: 18px;
    font-weight: 500;
    --box-shadow: 0 0 2px 0 #1FB1C8;
}

.radio-wrap {
    width: 28px;
    height: 28px;
    border: 1px solid #dfdcd7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    ion-radio {
        width: 20px;
        height: 20px;
        --border-width: 0px;
        --color-checked: #575654;
        margin: 0;
    }
}
