.onboarding-view {
    .intro-title {
        font-size: 24px;
        font-weight: bold;
        color: #635B50;
        text-align: center;
        margin-top: 46px;
        margin-bottom: 16px;
        z-index: 2;
    }
    @media (min-height: 710px) {
        .intro-title {
            margin-top: 64px;
        }
    }
    ion-button.button-outline {
        --border-color: #DFDCD7;
        font-size: 14px;
        color: #535250;
        --color-activated: #535250;
        --border-radius: 6px;
        --background: white;
        --background-activated: rgb(238, 238, 238);
        height: 52px;
        text-transform: none;
        margin-bottom: 5px;
        img {
            width: 22px;
            margin: -2px 16px 0 5px;
        }
        span {
            display: flex;
            align-items: center;
            text-align: left;
            width: 100%;
            font-weight: 500;
        }
    }
    ion-button.button-clear {
        color: #3765C5;
        --background: white;
        --color-activated: #3765C5;
        text-decoration: underline;
        font-size: 14px;
        font-weight: normal;
        text-transform: none;
        height: 52px;
    }
    .submit-button {
        height: 60px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .conditions {
        padding-top: 4px;
        padding-bottom: 14px;
        font-size: 14px;
        ion-col {
            padding: 0;
            &:nth-child(2) {
                padding-left: 12px;
                line-height: 28px;
            }
        }
        span {
            color: #3765C5;
            text-decoration: underline;
            text-transform: lowercase;
        }
        ion-checkbox {
            margin-top: 1px;
            --border-radius: 4px;
            width: 24px;
            height: 24px;
            --border-width: 1px;
            --border-color: #D4D2CC;
        }
    }
    ion-input {
        border-radius: 4px;
        border-color: #DFDCD7;
        min-height: 50px;
        box-shadow: inset 0 2px 0 #ada69a66;
        --placeholder-color: #7C7A75;
        --placeholder-opacity: 1;
        --padding-start: 15px!important;
    }
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -36px!important;
    .swiper-pagination-bullet {
        background: #635B50;
        opacity: 0.35;
        width: 8px;
        height: 8px;
        margin: 0 5px;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        width: 12px;
        height: 12px;
    }
}
