// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #6BCEDE;
  --ion-color-primary-rgb: 107,206,222;
  --ion-color-primary-contrast: #FFFFFF;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #5eb5c3;
  --ion-color-primary-tint: #7ad3e1;

  --ion-color-secondary: #F3AB59;
  --ion-color-secondary-rgb: 243,171,89;
  --ion-color-secondary-contrast: #FFFFFF;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #d6964e;
  --ion-color-secondary-tint: #f4b36a;

  --ion-color-tertiary: #3765C5;
  --ion-color-tertiary-rgb: 55,101,197;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #3059ad;
  --ion-color-tertiary-tint: #4b74cb;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #635B50;
  --ion-color-dark-rgb: 99,91,80;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #575046;
  --ion-color-dark-tint: #736b62;

  --ion-color-medium: #ADA69A;
  --ion-color-medium-rgb: 173,166,154;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #989288;
  --ion-color-medium-tint: #b5afa4;

  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255,255,255;

  --ion-text-color: #59564F;
  --ion-text-color-rgb: 89,86,79;

  --ion-color-step-50: #f7f7f6;
  --ion-color-step-100: #eeeeed;
  --ion-color-step-150: #e6e6e5;
  --ion-color-step-200: #dedddc;
  --ion-color-step-250: #d6d5d3;
  --ion-color-step-300: #cdccca;
  --ion-color-step-350: #c5c4c1;
  --ion-color-step-400: #bdbbb9;
  --ion-color-step-450: #b4b3b0;
  --ion-color-step-500: #acaba7;
  --ion-color-step-550: #a4a29e;
  --ion-color-step-600: #9b9a95;
  --ion-color-step-650: #93918d;
  --ion-color-step-700: #8b8984;
  --ion-color-step-750: #83807b;
  --ion-color-step-800: #7a7872;
  --ion-color-step-850: #726f69;
  --ion-color-step-900: #6a6761;
  --ion-color-step-950: #615e58;
  
  --ion-border-color: rgba(var(--ion-text-color));
  --ion-font-family: 'GothamRounded', sans-serif;

}