ion-title{
  padding: 0 43px;
}

.flex-container {
  flex-direction: column;
  justify-content: flex-end;
}

.image-flex-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-img {
  position: fixed;
  display: block;
  width: 100%;
  right: 0px;
  max-width: none;
  height: 130%;
  -o-object-fit: cover;
  object-fit: cover;
}

ion-header ion-toolbar ion-title {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

ion-header ion-toolbar {
  --border-color: #c2dff0;
  --background: #c2dff0 !important;
}

.image-main {
  text-align: center;
  object-fit: contain;
  height: 19vh;
  max-height: 126px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 16px;
  margin-top: 5px;
}

.terms-link {
  font-size: 14px;
  color: #625b51;
  text-decoration: underline;
}

.info-text {
  font-size: 14px;
  margin-bottom: 22px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.products--owned {
  margin-bottom: 6px;
}

.product {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 14px 12px;
  background: white;
  border-radius: 6px;
  margin-bottom: 15px;
  color: #625b51;
  min-height: 90px;
  &.highlight {
    box-shadow: 0 0 0 2px #2ab9c3;
    color: #2ab9c3;
  }
}

.product__left {
  font-size: 20px;
  display: flex;
}
.product__right {
  font-size: 13px;
  text-align: right;
  margin-left: 14px;
}
.product__price {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
}
.product__discount {
  background-color: var(--ion-color-secondary);
  border-radius: 10px;
  padding: 1px 7px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  align-self: center;
}
.product__price-strikethrough {
  position: absolute;
  top: 10px;
  right: 15px;
  text-decoration: line-through;
  margin-bottom: 3px;
}

.product__period {
  position: absolute;
  top: calc(50% + 14px);
  right: 15px;
}

.product__expiration {
  font-size: 11px;
  position: absolute;
  top: 10px;
  max-width: 66%;
}

.product__partner-name {
  font-size: 14px;
  position: absolute;
  top: 9px;
  max-width: 66%;
}

.purchase-button__button {
  text-transform: none;
  font-size: 14px;
  height: 48px;
  --background: #333333;
  --background-focused: rgba(51, 51, 51, 0.8);
  --background-activated: rgba(51, 51, 51, 0.8);
  --background-hover: rgba(51, 51, 51, 0.8);
}

.bottom-content {
  margin-bottom: var(--ion-margin, 16px);
  margin-top: var(--ion-margin, 16px);
  height: 100px;
}

@media (max-height: 667px) {
  .product {
    padding: 11px 12px 9px;
    margin-bottom: 10px;
    min-height: 76px;
  }
  .product__price {
    margin-bottom: 0;
  }
  .product__price-strikethrough {
    margin-bottom: 0;
  }
  .product__price-strikethrough,
  .product__period {
    right: 12px;
  }
  .image-main {
    height: 19vh;
    margin-bottom: 13px;
  }
  .info-text {
    margin-bottom: 22px;
  }
  .section-title {
    margin-bottom: 12px;
  }
}

@media (max-height: 600px) {
  .product {
    padding: 6px 13px 5px;
    margin-bottom: 5px;
    min-height: 68px;
  }
  .product__price-strikethrough {
    top: 7px;
  }
  .product__expiration {
    top: 7px;
  }

  .image-main {
    height: 15vh;
  }
  .info-text {
    margin-bottom: 16px;
  }
  .purchase-button__button {
    height: 46px;
  }
  .section-title {
    margin-bottom: 6px;
  }
}
