<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="navCtrl.pop()" color="dark" mode="ios">
                <img src="assets/imgs/onboarding-back.png"/>
            </ion-button>
        </ion-buttons>
        <ion-title translate>view.full-version.title-main</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding-bottom class="padding-h safe-area-bottom" fullscreen="true">
    <img class="bg-img" src="assets/imgs/sun_background_blue.png" />
    <div class='flex-container'>
        <div *ngIf="isLoading" class="spinner-wrap">
            <ion-spinner></ion-spinner>
        </div>
        <ng-container *ngIf="!isLoading">
            <ng-container *ngIf='user.promo'>
                <div class='section-title ion-text-center'>
                    {{ (user.promo.type === "promo" ? 'view.full-version.label-yourPartnerCode' : 'view.full-version.label-yourVoucherCode') | translate }}
                </div>
                <div class='products'>
                    <div class='product'>
                        <div class='product__left'>
                            <div>
                                <span translate>view.full-version.label-active</span>
                            </div>
                            <ng-container>
                                <ng-container>
                                    <div *ngIf='user.promo.partnerName' class='product__partner-name'>
                                        {{ user.promo.partnerName }}
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class='product__right'>
                            <div class='product__price'>{{ 'view.full-version.prefix-until' | translate }} {{ user.promo.expires | date:'d. M. yyyy' }}</div>
                        </div>
                    </div>
                </div>
                <div>
                    <ion-button (click)="inAppPurchaseFunctionsService.onVideoShow()" class="purchase-button__button ion-margin-bottom" expand="block" mode="ios">
                        <ion-icon name="play" class="ion-margin-end"></ion-icon>
                        {{ 'menu.item-consultation' | translate }}
                    </ion-button>
                </div>
                <div class='links links--promo ion-margin-bottom'>
                    <div (click)="inAppPurchaseFunctionsService.onTermsClick()" class="terms-link" margin-bottom text-center translate>
                        view.full-version.button-termsAndConditions
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf='!user.promo'>
                <ng-container *ngIf="!products">
                    <p margin-top text-center><strong translate>view.full-version.label-unableToLoadSubscriptionInfo</strong></p>
                    <ion-button (click)="inAppPurchaseFunctionsService.onRetryGetProductButtonClick()" class="submit-button" color="secondary" expand="block" margin-top mode="ios" fill="clear" translate>view.full-version.button-tryAgain</ion-button>
                </ng-container>
                <ng-container *ngIf="products">
                    <div *ngIf='!user.activeSubscriptions.length' class='info-text ion-text-center' translate>view.full-version.text-info</div>
                    <div *ngIf='user.activeSubscriptions.length' class='section-title ion-text-center' translate>view.full-version.text-yourSubscription</div>
                    <div *ngIf='user.activeSubscriptions.length' class='products products--owned'>
                        <ng-container *ngFor='let product of products'>
                            <ng-container *ngIf='inAppPurchaseFunctionsService.isProductActive(product.productId) && !inAppPurchaseFunctionsService.getShouldHideProduct(product, products)'>
                                <ng-container *ngTemplateOutlet="productTmpl;context:{product:product}"></ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div *ngIf='user.activeSubscriptions.length'>
                        <ion-button (click)="inAppPurchaseFunctionsService.onVideoShow()" class="purchase-button__button ion-margin-bottom" expand="block" mode="ios">
                            <ion-icon name="play" class="ion-margin-end"></ion-icon>
                            {{ 'menu.item-consultation' | translate }}
                        </ion-button>
                    </div>
                    <div *ngIf='user.activeSubscriptions.length' class='section-title ion-text-center' translate>view.full-version.text-subscriptionChange</div>
                    <div class='products'>
                        <ng-container *ngFor='let product of products'>
                            <ng-container *ngIf='!inAppPurchaseFunctionsService.isProductActive(product.productId) && !inAppPurchaseFunctionsService.getShouldHideProduct(product, products)'>
                                <ng-container *ngTemplateOutlet="productTmpl;context:{product:product}"></ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
                <div *ngIf="selectedItem" class='bottom-content'>
                    <ion-button (click)="onPurchaseSelectedClick()" class="purchase-button__button" expand="block" mode="ios" translate>
                        view.full-version.button-continueToPayment
                    </ion-button>
                </div>
                <div *ngIf="!selectedItem" class='bottom-content'>
                    <div *ngIf='inAppPurchaseFunctionsService.isCancellableProductActive()' (click)="inAppPurchaseFunctionsService.onCancelSubscruptionButtonClick()" class="terms-link" margin-bottom text-center translate>
                        view.full-version.button-cancelSubscription
                    </div>
                    <div (click)="onRefreshPurchasesButtonClick()" class="terms-link" margin-bottom text-center translate>
                        view.full-version.button-refreshPurchasedItems
                    </div>
                    <div (click)="inAppPurchaseFunctionsService.onTermsClick()" class="terms-link" margin-bottom text-center translate>
                        view.full-version.button-termsAndConditions
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ion-content>
<ng-template #productTmpl let-product='product'>
    <div (click)='selectedItem = inAppPurchaseFunctionsService.onProductClick(product, selectedItem)' class='product' [class.highlight]='selectedItem === product'>
        <div class='product__left'>
            <div>
                <strong>{{ product.title }}</strong>
            </div>
            <ng-container *ngIf='inAppPurchaseFunctionsService.isProductActive(product.productId)'>
                <ng-container *ngIf='platform.is("ios")'>
                    <div *ngIf='product.type !== InAppSubscriptionType.LIFETIME' class='product__expiration'>
                        {{ 'view.full-version.label-next-payment' | translate }}: {{ inAppPurchaseFunctionsService.getExpirationDateLabel(product.productId) }}
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class='product__right'>
            <div class='product__price'>{{product.price}}</div>
            <ng-container *ngIf='product.type === InAppSubscriptionType.ANNUAL'>
                <div class='product__period' translate>view.full-version.label-annualy</div>
            </ng-container>
            <ng-container *ngIf='product.type === InAppSubscriptionType.LIFETIME'>
                <div class='product__period' translate>view.full-version.label-once</div>
            </ng-container>
        </div>
    </div>
</ng-template>
