<div class='item-picker-modal'>
    <div (click)='onBackdropClick()' class='item-picker-modal__backdrop'></div>
    <div class='item-picker-modal__list padding-h'>
        <div class='item-picker-modal__title' translate>
            common.voice.guide-title
        </div>
        <ion-radio-group [(ngModel)]='selected'>
            <ion-item *ngFor='let voice of voices' class='item-picker-modal__item item-picker-modal__item--radio' lines='none' mode='ios'>
                {{ voice.name }}
                <div slot="start" class='radio-wrap'>
                    <ion-radio slot="start" [value]="voice.id" mode='md'></ion-radio>
                </div>
                <ion-button *ngIf='voice.previewUrl' (click)='onPlayPreviewClick($event, voice)' class='item-picker-modal__item-button' [class.item-picker-modal__item-button--active]='activePreview === voice.id' slot='end' fill='outline'>
                  {{'common.voice.preview' | translate}}
                    <img *ngIf='activePreview === voice.id' src='assets/imgs/sound.gif' slot='end' />
                    <img *ngIf='activePreview !== voice.id' src='assets/imgs/play-voice.png' slot='end'/>
                </ion-button>
            </ion-item>
        </ion-radio-group>
        <ion-button (click)='onSaveClick()' class='item-picker-modal__confirm-button' color="primary" expand="block" mode="ios" translate>
            common.global.save
        </ion-button>
    </div>
</div>