<ion-app>
    <ion-menu side="end" type="push" mode='ios' [swipeGesture]=false>
        <ion-content>
            <div (click)="onProfileItemClicked()" class="user-info">
                <img class="image-smile" slot="start" src="assets/imgs/menu-smile.png" />
                <span>{{ userProvider.userName }}</span>
            </div>
            <div>
                <ion-list lines="none" class="nav-list ion-no-padding">
                    <ion-item *ngIf='!Config.hideFullVersion' (click)="onFullVersionItemClicked()">
                        <ion-label translate>menu.item-subscription</ion-label>
                    </ion-item>
                    <ion-item (click)="onConsultationItemClicked()" *ngIf="userProvider.getIsFullVersionUnlocked()">
                        <ion-label translate>menu.item-consultation</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label translate>menu.item-positions</ion-label>
                    </ion-item>
                    <ion-item (click)="onMeditationPositionClicekd(false)">
                        <ion-label translate class="ion-padding-start">menu.item-positions-chair</ion-label>
                    </ion-item>
                    <ion-item (click)="onMeditationPositionClicekd(true)">
                        <ion-label translate class="ion-padding-start">menu.item-positions-ground</ion-label>
                    </ion-item>
                    <ion-item (click)="onProfileItemClicked()">
                        <ion-label translate>menu.item-profile</ion-label>
                    </ion-item>
                </ion-list>
                <ion-list lines="none" class="nav-list ion-no-padding">
                    <ion-item (click)="onBlogItemClicked()">
                        <ion-label translate>menu.item-blog</ion-label>
                    </ion-item>
                    <ion-item (click)="onTermsItemClicked()">
                        <ion-label translate>menu.item-terms</ion-label>
                    </ion-item>
                    <ion-item (click)="onFeedbackItemClicked()">
                        <ion-label translate>menu.item-feedback</ion-label>
                    </ion-item>
                    <ion-item (click)="onAboutItemClicked()">
                        <ion-label translate>menu.item-about</ion-label>
                    </ion-item>
                </ion-list>
            </div>
            <!-- <div class="version-info">v. {{ versionInfo }}</div> -->
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>