* {
  letter-spacing: 0.2px;
}

ion-header {
  ion-toolbar {
    --border-color: transparent;
    --background: white;
  }
  ion-title {
    font-size: 28px;
    img {
      width: 32px;
      height: 32px;
      margin-top: 8px;
    }
  }
  ion-buttons[slot='start'] {
    ion-button {
      margin: 0;
      height: 38px;
      width: 56px;
      --padding-top: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      --padding-end: 0;
      font-size: 1.4rem;
      img {
        position: relative;
        top: -1px;
        left: -6px;
        width: 12px;
      }
    }
  }
  ion-buttons[slot='end'] {
    ion-button {
      --padding-start: 0 !important;
      --padding-end: 0 !important;
    }
    ion-icon {
      color: black;
      font-size: 28px !important;
    }
  }
}

.flex-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.flex-between {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.padding-h {
  padding-left: 28px;
  padding-right: 28px;
  --padding-start: 28px;
  --padding-end: 28px;
}
@media (max-width: 360px) {
  .padding-h {
    padding-left: 16px;
    padding-right: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
  }
}

ion-input, ion-textarea {
  border: 1px solid var(--ion-color-medium);
  border-radius: 8px;
  --background: white !important;
  --padding-top: 15px !important;
  --padding-bottom: 12px !important;
  --padding-start: 10px !important;
  --padding-end: 10px !important;
  margin-bottom: 10px;
}

a {
  font-size: 0.85rem;
}

.note {
  font-size: 0.85rem;
}

.full-height {
  height: 100%;
}

ion-button {
  text-transform: uppercase;
  font-weight: bold;
  --border-radius: 8px;
  --padding-top: 3px;
  height: 46px;
  margin: 0;
}

ion-toast {
  font-weight: bold;
}

ion-toast.toast-warning{
  --border-color: #E96363;
  --border-radius: 6px;
  --border-style: solid;
  --border-width: 2px;
  --ion-color-base: white!important;
  --ion-color-contrast: #E96363 !important;
  --box-shadow: none;
  }

.course-block {
  .page-title {
    margin-top: 22px;
    margin-bottom: 20px;
  }
}

.locked-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  ion-icon {
    color: lightgray;
    font-size: 1.9rem;
  }
}

.course-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  .item-thumbnail {
    position: relative;
    width: 93px;
    height: 58px;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
  .course-item-labels {
    padding: 0 10px 0 16px;
    .course-main-label {
      font-size: 17px;
      font-weight: 500;
    }
    .course-sub-label {
      font-size: 14px;
      padding-top: 1px;
    }
  }
  > ion-icon {
    flex-shrink: 0;
    margin-left: auto;
    font-size: 1.4rem;
  }

  &--highlight{
    background-color: #EAF0F2;
    border-radius: 4px;
    min-height: 82px;
    width: calc(100% + 20px);
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
    .item-thumbnail {
      overflow: visible;
      height: 100%;
      display: flex;
      justify-content: center;
      img{
        object-fit: contain;
        object-position: center;
        height: 82px;
      }
    }
    .course-item-labels {
      .course-main-label {
        font-weight: normal;
        padding: 10px 0;
        strong {
          font-weight: 500;
        }
      }
    }
  }

  &--blog{
    .item-thumbnail img{
      height: 56px;
    }
  }

}

ion-select-popover {
  ion-item {
    --border-color: transparent;
  }
}

.button:hover {
  --opacity: unset !important;
}

ion-app.ios {
  ion-toolbar {
    padding-top: 0 !important;
    --background: transparent !important;
    > * {
      padding-top: var(--ion-safe-area-top, 0) !important;
    }
    .toolbar-placeholder{
      height: calc(32px + var(--ion-safe-area-top, 0));
    }
  }
  ion-title {
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
  }
}

.spinner-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  .error-info {
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
  }
}

.logo-eu {
  width: 100%;
  object-fit: contain;
}

.h1 {
  font-size: 39px;
}
.h3 {
  font-size: 28px;
  font-weight: bold;
}
.h5 {
  font-size: 16px;
  line-height:24px;
  font-weight: 500;
}
.p3 {
  font-size: 16px;
}
.p5 {
  font-size: 14px;
}
.mt-0 {
  margin-top: 0 !important;
}
@media (max-width: 360px) {
  .h1 {
    font-size: 33px;
  }
  .h3 {
    font-size: 24px;
  }
}

.swiper-pagination-wrap {
  .swiper-pagination {
    --bullet-background: rgba(144, 212, 221, 0.35);
    --bullet-background-active: rgb(144, 212, 221);
    .swiper-pagination-bullet {
      margin: 0 4.5px;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      transform: scale(1.45);
    }
  }
}

.safe-area-bottom {
  --padding-bottom: var(--ion-safe-area-bottom, 0);
  padding-bottom: var(--ion-safe-area-bottom, 0);
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center !important;
}

.lang-popover {
  --width: 62px;
  --max-height: none;
  --background: #e2e2e2;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}

@media (max-width: 375px) {
  ion-header ion-title {
    font-size: 22px;
  }
}


.rating-alert-android {
  --min-width: 300px;
  .alert-button {
    margin-inline-end: 0!important;
  }
  .alert-button-group-vertical {
    flex-direction: row!important;
  }
}

.delete-account-alert {
  --min-width: 300px;
  .alert-title {
    color: var(--ion-color-danger);
    font-size: 19px;
  }
  .alert-message {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #670303;
  }
  .alert-button:first-child {
    color: #000000;
    font-weight: 500;
  }
  .alert-button:last-child {
    color: var(--ion-color-danger);
    font-weight: 500;
  }
}

ion-router-outlet{
  &.modal-show-prepare{
    transition: filter .25s;
    filter: blur(0px);
    &.modal-shown{
      filter: blur(20px);
    }
  }
}

ion-refresher {
  z-index: 2;
  .refresher-pulling-icon{
    margin-top: -30px;
  }
}

.products {
  margin-bottom: 10px;
}