ion-menu {
  ion-content {
    --padding-top: var(--ion-safe-area-top, 0);
  }
  ion-list {
    padding-left: 20px;
  }
  ion-list:first-child {
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 18px;
    margin-bottom: 18px;
  }
  ion-item {
    font-weight: 500;
    font-size: 18px;
    padding: 3px 0;
  }
  .user-info {
    display: flex;
    align-items: center;
    padding: 24px 16px 14px 36px;
    font-size: 16px;
    font-weight: 500;
  }
  .image-smile {
    width: 42px;
    margin-right: 10px;
    flex-shrink: 0;
  }
}
