<ion-content fullscree="true" forceOverscroll="false">
    <div *ngIf="!lesson" class="spinner-wrap full-height">
        <ion-spinner></ion-spinner>
    </div>
    <!-- HTML pro intro video, momentalne nepouzivame -->
    <!-- <ng-container *ngIf="pageInitialized && introVideoDisplayed">
        <div class="intro-video-wrap">
            <video #videoIntroElement preload="auto" class="video">
                <source [src]="lesson.intro.video" type='video/mp4' />
            </video>
        </div>
    </ng-container> -->
    <ng-container *ngIf="introImageUrl">
        <div (click)="introImageUrl = undefined" class="intro-img-wrap">
            <ion-spinner *ngIf="!intro.visible" color="light"></ion-spinner>
            <img #intro class="intro-img" [src]="introImageUrl" (load)="intro.visible = true" [style.opacity]="intro.visible ? 1 : 0" />
            <img class="intro-img-close" src="assets/imgs/close.png">
        </div>
    </ng-container>
    <ng-container *ngIf="pageInitialized">
        <div class="controls-header">
            <ion-button *ngIf="lessonCompleted" (click)="onShareButtonClicked()" fill="clear" class='share-btn'>
                <ion-icon name="md-share"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!introImageUrl" (click)="lessonCompleted ? onLessonCompletedOverlayClick() : onBackButtonClicked()" fill="clear" class="close-btn">
                <img slot="icon-only" src="assets/imgs/close.png">
            </ion-button>
        </div>
        <div *ngIf="lessonCompleted" class="full-height completed-info-wrap">
            <div class="completed-top padding-h">
                <div class='completed-bg'></div>
                <div class="completed-note" [innerHTML]="lesson.description" padding-horizontal></div>
            </div>
            <div class="completed-bottom ion-padding-horizontal">
                <div class='completed-congrats'>{{ 'view.playback.text-congrats' | translate | uppercase }}</div>
                <div class='completed-tile completed-tile--time'>
                    <img class='completed-tile__image' src='assets/imgs/lesson-completed-time-icon.png'/>
                    <div class='completed-tile__value'>{{ totalUserMeditationTimeIncludingCurrentSessionMinutes }}</div>
                    <div class='completed-tile__label' [innerHTML]='"view.playback.label-totalMinutesMeditated" | translate'></div>
                </div>
                <div class='completed-tile completed-tile--days'>
                    <img class='completed-tile__image' src='assets/imgs/lesson-completed-days-icon.png'/>
                    <div class='completed-tile__value'>{{ totalUserContinuousMeditationDays }}</div>
                    <div class='completed-tile__label' translate *ngIf="totalUserContinuousMeditationDays == 0">view.playback.label-continuousDaysTotal-5-x</div>
                    <div class='completed-tile__label' translate *ngIf="totalUserContinuousMeditationDays >= 2 && totalUserContinuousMeditationDays <= 4">view.playback.label-continuousDaysTotal-2-4</div>
                    <div class='completed-tile__label' translate *ngIf="totalUserContinuousMeditationDays >= 5">view.playback.label-continuousDaysTotal-5-x</div>
                </div>
                <ion-button class="completed-button" (click)="onLessonCompletedOverlayClick()" translate>
                    view.playback.button-continue
                </ion-button>
            </div>
        </div>
        <div *ngIf="!lessonCompleted" class="full-height playback">
            <div class="playback-wrap" [class.playback-wrap--daily-meditation]='course.type === CourseTypeEnum.DAILY_MEDITATION'>
                <div class="top-section">
                    <div class="section-content" padding-horizontal>
                        <div class="labels-wrap">
                            <div class="description-label" text-center margin-bottom>
                                {{course?.name.toUpperCase()}}
                            </div>
                            <div class="main-label" text-center>{{ 'view.playback.label-lesson' | translate }} {{lesson.order}}</div>
                        </div>
                        <div class="main-control-wrap">
                            <div id="progressBar" class="progress-bar"> </div>
                            <ion-button *ngIf="!lessonLoading && (lessonPlaying && !currentTime) === false" (click)="onControlButtonClick()" class="main-control" [class.playing]="lessonPlaying" size="large" fill="clear" color="dark" mode="ios">
                                <img *ngIf='!lessonPlaying' src='assets/imgs/play.png' class='play-img'/>
                                <img *ngIf='lessonPlaying' src='assets/imgs/pause.svg' class='pause-img'/>
                            </ion-button>
                            <ion-spinner *ngIf="lessonLoading || (lessonPlaying && !currentTime)"></ion-spinner>
                            <div *ngIf="lessonLoading && downloadProgress" class="download-progress">{{ downloadProgress + '%' }}</div>
                        </div>
                        <div class="time-label" text-center><strong>{{currentTime || '0:00'}}</strong></div>
                    </div>
                </div>
                <div class="bottom-section">
                    <video *ngIf="lesson.type==='VIDEO'" #video preload="auto" [attr.controls]='platform.is("ios") ? "" : null' class='video' [class.video-hidden]="!lessonStarted">
                        <source type='video/mp4' />
                    </video>
                    <div *ngIf="(lesson.type==='VIDEO' && lessonPlaying && lessonStarted) === false" class="section-content">
                        <div *ngIf="lesson" class="variants-list" [class.disabled]="lessonStarted">
                            <div class="variant-round-wrap"></div>
                            <ion-slides (ionSlideDidChange)="onVariantSlideChanged()" #slides [options]="slideOpts">
                                <ion-slide *ngFor="let item of sources">
                                    <div>{{item.title}}</div>
                                </ion-slide>
                            </ion-slides>
                            <div class="variant-text-label" translate>view.playback.label-minutes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ion-content>