.full-height {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  &.playback {
    padding-top: var(--ion-safe-area-top, 0);
    padding-bottom: var(--ion-safe-area-bottom, 0);
    justify-content: center;
  }
}
.controls-header {
  position: absolute;
  top: var(--ion-safe-area-top, 0);
  left: 0;
  padding: 10px 16px 0 16px;
  width: 100%;
  z-index: 2;
  ion-button {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    width: 45px;
    height: 45px;
    color: var(--ion-text-color);
    font-size: 20px;
    opacity: 0.9;
    &.share-btn {
      position: relative;
      left: -1px;
    }
    &.close-btn {
      margin-left: auto;
      padding: 10.5px;
    }
  }
  display: flex;
  justify-content: space-between;
}
.playback-wrap {
  height: 88%;
  background-image: url('../../../assets/imgs/bg_playback_default.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;  
  &.playback-wrap--daily-meditation{
    background-image: url('../../../assets/imgs/bg_playback_denni.png');
  }
  .top-section,
  .bottom-section,
  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom-section {
    overflow: hidden;
    .section-content {
      width: 100%;
    }
  }
}
.completed-info-wrap {
  align-items: center;
  .completed-bg{
    position: absolute;
    border-radius: 0 0 50% 50%;
    width: 124%;
    height: 140%;
    top: -40%;
    left: -12%;
    background-color: #F1F9FB;
  }
  .completed-top {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: calc(60px + var(--ion-safe-area-top));
    padding-bottom: 32px;
    overflow: hidden;
    .completed-note {
      padding-top: 10px;
      padding-bottom: 5px;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      opacity: .9;
      p {
        margin:0;
      }
    }
  }
  .completed-bottom {
    display: flex;
    flex-direction: column;
    padding-top:35px;
    padding-bottom: calc(16px + var(--ion-safe-area-bottom, 0));
    width: 100%;
    flex:1;
    .completed-congrats{
      font-weight:bold;
      font-size:20px;
      text-align: center;
      margin-bottom: 18px;
    }
    .completed-tile{
      background-size: cover;
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 9px 16px;
      margin-bottom: 15px;
      height:100px;
    }
    .completed-tile__image{
      width:74px;
    }
    .completed-tile__value{
      font-weight:500;
      font-size:50px;
      padding: 0 11px 0 16px;
      position: relative;
      top: 2px;
      min-width: 96px;
      text-align:center;
      letter-spacing: -2px;
    }
    .completed-tile__label{
      font-weight:500;
      font-size:18px;
      line-height:26px;
      flex:1;
      word-break: break-word;
    }
    .completed-tile--time{
      background-image: url('../../../assets/imgs/lesson-completed-time-bg.png');
    }
    .completed-tile--days{
      background-image: url('../../../assets/imgs/lesson-completed-days-bg.png');
    }
    .completed-button{
      margin-top:auto;
      height:54px;
      --box-shadow: 0;
      text-transform: none;
      font-size: 16px;
    }
  }
}
.top-section {
  position: relative;
  height: 58%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .labels-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    .description-label {
      margin-bottom: 2px;
      font-weight: 500;
      font-size: 13px;
      opacity: 0.8;
    }
    .main-label {
      font-size: 1.65rem;
      font-weight: bold;
      margin-bottom: 26px;
    }
  }
  .main-control-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    min-height: 100px;
  }
  .main-control {
    --padding-start: 6px;
    --padding-end: 0;
    width: 100px;
    height: 100px;
    margin: 0;
    img.play-img {
      width: 24px;
    }
    img.pause-img {
      width: 19px;
      margin-left: -5px;
    }
  }
  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    stroke-linecap: round;
  }
  .download-progress {
    position: absolute;
    left: 50%;
    top: 24px;
    font-weight: 500;
    transform: translate(-50%, -50%);
  }
  .time-label {
    margin-top: 7px;
  }
}
.bottom-section {
  height: 42%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 17px;

  .variants-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--ion-color-dark);
    &.disabled {
      pointer-events: none;
    }
    ion-slides {
      width: 100%;
      height: 64px;
      margin-bottom: 8px;
      overflow: visible;

      ion-slide {
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 6px;
          font-weight: bold;
          font-size: 25px;
          width: 64px;
          height: 64px;
          transition: opacity 0.25s, font-size 0.25s;
          opacity: 0.25;
        }
        &.swiper-slide-active {
          div {
            font-size: 28px;
            opacity: 1;
          }
        }
        &.swiper-slide-next,
        &.swiper-slide-prev {
          div {
            opacity: 0.5;
          }
        }
      }
    }
    .variant-text-label {
      font-size: 18px;
      opacity: 0.75;
    }
    .variant-round-wrap {
      position: absolute;
      width: 64px;
      height: 64px;
      left: 50%;
      top: 0;
      margin-left: -32px;
      border: 2px solid rgba(0, 0, 0, 0.25);
      border-radius: 50%;
    }
  }
}

.video {
  position: absolute;
  width: 100%;
  max-width: 100%;
  margin-top: -35px;
  z-index: 2;
  &.video-hidden {
    visibility: hidden;
    height: 1px;
  }
}

.intro-video-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.intro-img-wrap {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
  .intro-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: calc(62px + var(--ion-safe-area-top, 0)) 0;
  }
  .intro-img-close {
    position: absolute;
    top: calc(22px + var(--ion-safe-area-top, 0));
    right: 28px;
    width: 20px;
    height: 20px;
    color: white;
    opacity: 0.9;
    filter: brightness(0) invert(1);
  }
}

@media (max-width: 375px) {
  .completed-info-wrap {
    .completed-bottom {
      .completed-tile{
        height:90px;
        padding: 9px 11px;
      }
      .completed-tile__image{
        width:64px;
      }
      .completed-tile__value{
        font-size:46px;
        min-width: 86px;
        padding: 0 8px 0 12px;
      }
      .completed-tile__label{
        font-size:17px;
        line-height:24px;
      }
    }
  }
}

@media (max-width: 360px) {
  .completed-info-wrap {
    .completed-top {
      .completed-note {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .completed-bottom {
      padding-top:25px;
      .completed-congrats{
        font-size:18px;
        margin-bottom: 14px;
      }
      .completed-tile{
        height:69px;
        padding: 9px 14px;
      }
      .completed-tile__image{
        width:47px;
      }
      .completed-tile__value{
        font-size:35px;
        min-width: 76px;
        padding: 0 8px 0 10px;
      }
      .completed-tile__label{
        font-size:16px;
        line-height:19px;
      }
      .completed-button{
        height:48px;
      }
    }
  }
}
