ion-slides {
    flex-grow: 1;
    width: 100%;
    white-space: pre-line;
    overflow: visible;
}

.onboarding-back-button {
    position: absolute;
    top: 9px;
    left: -4px;
    width: 60px;
    height: 54px;
    img {
        width: 12px;
    }
}

.onboarding-bottom {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: calc(var(--ion-safe-area-bottom, 0) + 16px);
    padding-top: 66px;
    background-color: white;
    transition: background-color 250ms linear;
    ion-button {
        height: 60px;
        --border-radius: 6px;
        font-size: 18px;
        --box-shadow: 0;
        &.button-disabled {
            --opacity: 0.5!important;
        }
    }
    &.onboarding-bottom--blue {
        background-color: #daf1f4;
    }
}

.flex-container {
    position: relative;
    flex-direction: column;
    color: #35332F;
    overflow-x: hidden;
    overflow-y: auto;

    ion-slide .flex-container {
        max-height: calc(100vh - var(--ion-safe-area-top, 0) - var(--ion-safe-area-bottom, 0) - 142px);
        padding-left: 20px;
        padding-right: 20px;
    }
    .h3 {
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 35px;
        color: #635B50;
    }
    .p3 {
        font-weight: 500;
        line-height: 1.5;
    }
    .p5 {
        margin-top: 36px;
        margin-bottom: 15px;
        line-height: 20px;
    }
    &.top {
        padding-top: var(--ion-safe-area-top, 0);
    }
    &.first-slide {
        padding-left: 6px!important;
        padding-right: 6px!important;
        background-image: url("../../../assets/imgs/onboarding-bg.png");
        background-color: #daf1f4;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center top;
        justify-content: space-between;
        align-items: center;
        .p3 {
            margin-bottom: 12vh;
            width: 100%;
        }
    }
    &.fourth-slide {
        .video-img {
            width: 100%;
            margin-bottom: 35px;
            margin-top: 35px;
            border-radius: 15px;
        }
        .h5 {
            text-align: left;
        }
        .position-guide {
            flex-grow: 1;
            overflow: auto;
            padding-bottom: 20px;
            &::after {
                content: '';
                height: 20px;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                background-image: linear-gradient( rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 1.0) 100%);
            }
        }
        ul {
            padding-left: 20px;
            list-style: none;
            li {
                position: relative;
                text-align: left;
                font-size: 14px;
                line-height: 24px;
                padding-left: 1px;
            }
            li::before {
                content: "\2022";
                position: absolute;
                left: -20px;
                top: -7px;
                font-size: 26px;
                line-height: 38px;
            }
        }
    }
    &.fifth-slide {
        background-image: url("../../../assets/imgs/onboarding-end-bg.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: 0 68%;
        justify-content: space-between;
    }
}

ion-title{
    padding: 0 43px;
}

.image-flex-center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-img {
    position: fixed;
    display: block;
    width: 100%;
    right: 0px;
    top: 0px;
    max-width: none;
    height: 130%;
    -o-object-fit: cover;
    object-fit: cover;
}

ion-header ion-toolbar ion-title {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

.image-main {
    text-align: center;
    object-fit: contain;
    height: 19vh;
    max-height: 126px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 16px;
    margin-top: 5px;
}

.terms-link {
    font-size: 14px;
    color: #625b51;
    text-decoration: underline;
}

.info-text {
    font-size: 14px;
    margin-bottom: 22px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.products--owned {
    margin-bottom: 6px;
}

.product {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 14px 12px;
    background: #e4ebed;
    border-radius: 6px;
    margin-bottom: 15px;
    color: #625b51;
    min-height: 90px;
    &.highlight {
        background-color: #39d1e1;
        color: white;
    }
}

.product__left {
    font-size: 20px;
    display: flex;
}
.product__right {
    font-size: 13px;
    text-align: right;
    margin-left: 14px;
}
.product__price {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
}
.product__discount {
    background-color: var(--ion-color-secondary);
    border-radius: 10px;
    padding: 1px 7px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    align-self: center;
}
.product__price-strikethrough {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: line-through;
    margin-bottom: 3px;
}

.product__period {
    position: absolute;
    top: calc(50% + 12px);
    right: 15px;
}

.product__expiration {
    font-size: 11px;
    position: absolute;
    top: 10px;
    max-width: 66%;
}

.product__warning {
    font-size: 11px;
    position: absolute;
    top: calc(50% + 27px);
    right: 15px;
}

.product__partner-name {
    font-size: 14px;
    position: absolute;
    top: 9px;
    max-width: 66%;
}

.links--promo{
    margin-top: auto!important;
}

.purchase-button__button {
    text-transform: none;
    font-size: 14px;
    height: 48px;
    --background: #333333;
    --background-focused: rgba(51, 51, 51, 0.8);
    --background-activated: rgba(51, 51, 51, 0.8);
    --background-hover: rgba(51, 51, 51, 0.8);
}

.bottom-content {
    margin-bottom: var(--ion-margin, 16px);
    margin-top: var(--ion-margin, 16px);
    height: 80px;
}
