<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="navCtrl.pop()" color="dark" mode="ios">
                <img src="assets/imgs/onboarding-back.png"/>
            </ion-button>
        </ion-buttons>
        <ion-title translate>view.about.title-main</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="padding-h safe-area-bottom" padding-vertical fullscreen="true">
    <div *ngIf="!aboutHtml" class="spinner-wrap">
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="aboutHtml" [innerHTML]="aboutHtml"></div>
</ion-content>