.bg-img {
    position: absolute;
    display: block;
    width: 150%;
    left: -25%;
    top: 80px;
    max-width: none;
}

.page-title {
    font-size: 34px;
    text-align: center;
    color: #1ab5cf;
    margin: 4px 0 10px 0;
}

.field-invalid-msg {
    color: red;
    font-size: 14px;
    position: relative;
    top: -6px;
    text-align: right;
}

.flex-container {
    flex-direction: column;
    justify-content: space-between;
}

.inputs-wrap {
    margin-top: 16px;
}

.buttons-wrap {
    margin-top: auto;
    ion-button:first-child {
        margin-bottom: 12px;
    }
    padding-bottom: var(--ion-safe-area-bottom, 0);
}
