<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="navCtrl.pop()" color="dark" mode="ios">
                <img src="assets/imgs/onboarding-back.png"/>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="assets/imgs/icon.svg" />
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-bounce padding fullscreen="true">
    <img class="bg-img" src="assets/imgs/login-bg.png" />
    <form [formGroup]="form" class="flex-container safe-area-bottom">
        <div class="page-title" translate>
            view.feedback.title-main
        </div>
        <div class='inputs-wrap'>
            <ion-input formControlName="name" [placeholder]="'view.feedback.input-name-placeholder' |  translate" mode="ios" autocapitalize="on" (keydown)='onInputKeyDown($event, emailInput)'></ion-input>
            <ion-input #emailInput formControlName="contactEmail" [placeholder]="'view.feedback.input-email-placeholder' |  translate" type="email" mode="ios" autocapitalize="off" (keydown)='onInputKeyDown($event, messageInput)'></ion-input>
            <div *ngIf='isSubmitted && form?.get("contactEmail").invalid' class="field-invalid-msg" translate>view.feedback.input-email-invalid</div>
            <ion-textarea #messageInput formControlName="message" [rows]='6' [placeholder]="'view.feedback.textarea-message-placeholder' |  translate" mode="ios" autocapitalize="on"></ion-textarea>
            <div *ngIf='isSubmitted && form?.get("message").invalid' class="field-invalid-msg" translate>view.feedback.texarea-message-invalid</div>
        </div>
        <div class="buttons-wrap">
            <ion-button (click)="onSendClick()" type='submit' color="primary" expand="block" mode="ios" translate>view.feedback.button-send</ion-button>
        </div>
    </form>
</ion-content>