.page-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 20px;
  .note{
    font-weight:normal;
  }
}

.main-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 40vh;
}

.controls-wrap {
  ion-button {
      font-size: 13px;
  }
}