<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="onBackButtonClicked()" color="dark" mode="ios">
                <img src="assets/imgs/onboarding-back.png"/>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="assets/imgs/icon.svg" />
        </ion-title>
        <ion-buttons slot='end'>
            <ion-button (click)='toggleMenu()'>
                <ion-icon name='menu' slot='icon-only'></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding-bottom fullscreen="true" class="safe-area-bottom">
    <div *ngIf="!courseDetail" class="spinner-wrap">
        <ion-spinner></ion-spinner>
    </div>
    <ng-container *ngIf="courseDetail">
        <img [src]="courseDetail.titlePhoto" class="main-img" />
        <div class="padding-h">
            <div class="page-title">
                {{ courseDetail.name }}
                <div class="note">
                    {{ courseDetail.subtitle }}
                </div>
            </div>
            <div class="main-text">
                {{ courseDetail.description }}
            </div>
        </div>
        <div class="controls-wrap padding-h" margin-top>
            <ion-button (click)="onPurchaseButtonClick()" color="primary" expand="block" mode="ios">
                {{ (courseDetail.free || userProvider.getIsFullVersionUnlocked() ? "view.course-purchase.button-beginCourse" : "view.course-purchase.button-purchaseCourse") | translate }}
            </ion-button>
        </div>
    </ng-container>
</ion-content>