:host {
  text-align: center;
  display:block;
  margin: 10px 0;
}
.lang-picker__flag {
  width: 42px;
  margin-right: 8px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  opacity: 0.8;
  &.lang-picker__flag--selected {
    opacity: 1;
    border-color: #8a8989;
  }
}

@media (max-width: 360px) {
  .lang-picker__flag {
    width: 38px;
    margin-right: 6px;
  }
}
