<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="navCtrl.pop()" color="dark" mode="ios">
                <img src="assets/imgs/onboarding-back.png"/>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="assets/imgs/icon.svg" />
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-bounce padding-top fullscreen="true" class="safe-area-bottom">
    <div *ngIf="!termsHtml" class="spinner-wrap">
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="termsHtml" [innerHTML]="termsHtml" class="padding-h"></div>
</ion-content>